<% if @admins %>
  <h2>Admins</h2>
  <%= flash[:error] %> <br>
  <ul>
  <% @admins.each do |admin| %>
   <li><%= admin.name %> <%= link_to "Remove Admin", admin_remove_path(admin.id), :method => 'PUT' %></li><br>
  <% end %>
</ul>
<% end %>

<h1>Send admin access code (TWILIO)</h1>

<%= form_tag('/send_sms', method: 'POST') do %>
<label>Select teacher to send admin code:</label>
<%= select_tag "teacher", options_for_select(@not_admins.all.collect{|p| [ p.name, p.id ] })%>
<%= submit_tag :Send %>
<% end %>

