<%= flash[:errors]%><br>

<% @students.each do |student| %>
  <div class="student">
  <p class="name"><%= link_to student.name, student_path(student.id)%></p>
  <p>Phase: <span><%= student.phase %></span></p>
  <p>Gender: <span><%= student.gender %></span></p>
  <p>GPA: <span><%= student.gpa %></span></p>
  <p>Detentions: <span><%= student.num_detentions %></span></p>
  </div>
 <% end %>

