

<%= flash[:errors]%><br>
<h2><%= @student.name %></h2><br>
<% if @student.image_file_name != nil %>
  <%= image_tag @student.image.url(:medium) %> <br>
<% end %>
<label>Phase:</label>
<%= @student.phase %><br>
<label>Gender:</label>
<%= @student.gender %><br>
<label>GPA:</label>
<%= @student.gpa %><br>
<label>Number of Detentions:</label>
<%= @student.num_detentions %><br>
<label>Shirt Size:</label>
<%= @student.shirt_size %><br>
<label>Dietary Restrictions:</label>
<%= @student.dietary_restrictions %><br>
<label>Emergency Contact:</label><br>
<%= @student.emergency_contact_name %><br>
<%= @student.emergency_contact_num %><br>
<%if session[:id] == @student.teacher_id || @currentuser.admin_status != 2 %>
<%= link_to "Edit student details", edit_student_path(@student.id)%>
<%end%>
