<%= @student.name %><br>
<label>Phase:</label>
<%= @student.phase %><br>
<label>Gender:</label>
<%= @student.gender %><br>
<label>GPA:</label>
<%= @student.gpa %><br>
<label>Number of Detentions:</label>
<%= @student.num_detentions %><br>
<label>Shirt Size:</label>
<%= @student.shirt_size %><br>
<label>Dietary Restrictions:</label>
<%= @student.dietary_restrictions %><br>
<label>Emergency Contact:</label><br>
<%= @student.emergency_contact_name %><br>
<%= @student.emergency_contact_num %><br>
