<h2> <%= @teacher.name %></h2>
<ul>
  <% @students.each do |student| %>
  <li><%= link_to student.name, student_path(student) %>
    <% if @teacher.id == session[:id] %>
      <%= link_to "edit", edit_student_path(student) %>
    <% end %>
  </li>

  <% end %>

</ul>

<h3>Groups</h3>

<% counter = 1 %>
<% @groups.each do |group| %>
  <p>Group <%= counter %></p>
  <% group.each do |student| %><br>
  <%= student.name %>
  <%= student.num_detentions %>
  <% end %>
  <% counter +=1 %>
<% end %>
