<div class="form">
  <p><%= form_for @teacher do |f| %></p>
    <div class="form_lable"><%= f.label :Name %></div>
    <div class="form_field"><%= f.text_field :name %></div>
    <div class="form_lable"><%= f.label :Email %></div>
    <div class="form_field"><%= f.email_field :email %></div>
    <div class="form_lable"><%= f.label :Phone %></div>
    <div class="form_field"><%= f.text_field :phone %></div>
    <div class="form_lable"><%= f.label :Password %></div>
    <div class="form_field"><%= f.password_field :password %></div>
    <div class="form_button"><%= f.submit :"Sign Up" %></div>
  <% end %>
</div>
