<!DOCTYPE html>
<html>
  <head>
    <title>TeacherGroupCreator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <header class ="header">
      <% if logged_in? %>
        <%= link_to "My Page", teacher_path(session[:id]) %>
        <%= link_to "Logout", session_path(current_user), method: :delete %>
        <% else %>
          <%= link_to "Login", new_session_path %>
          <%= link_to "Sign up", new_teacher_path %>
      <% end %>
      <br><br>
      <%= link_to "Homepage - Teachers", teachers_path %>
      <%= link_to "Homepage - Students", students_path %>
      <br><br>
    </header>
  <body>
    <%= yield %>
  </body>
</html>
